body {
  background-color: grey;
}

.customer-list button, .customer-list p {
    display: inline;
}

section {
  width: 25%;
  display: inline-block;
  margin: 20px auto 20px auto;
}

.customer-list {
  width:25%;
  margin: 15px auto 15px auto;
}

.order-history {
  margin: 20px;
  float: right;
  width: 500px;
}

.order {
  border-radius: 5px;
  background-color: beige;
}

.order p {
  padding: 5px;
}

.order p:first-child{
  border-bottom: 1px solid red;
}

h1 {
  width: 50%;
  margin: 40px auto 40px auto;
}
